.inputik {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search {
    width: 80%;
}

.city{
    cursor:pointer;
    /*
    opacity:70%;
    */
    color:grey;
    font-style: italic;
}